<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'styles', media: 'all' %>
    <%= javascript_include_tag 'main' %>
  </head>

  <body class="background-color">
    <div class="ui container white">
      <%= render partial: 'layouts/navbar' %>
      <%= yield %>
    </div>

  <footer>
    <div class="ui container white">
      <%= render partial: 'layouts/navbar_footer' %>
    </div>
  </footer>
  </body>
</html>
