<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<<<<<<< HEAD
  <body class="container">
    <nav></nav>
    <%= yield %>
=======
  <body>
    <div class="ui container">
      <%= render partial: 'layouts/navbar' %>
      <%= yield %>
    </div>
>>>>>>> bba2944b5920bd6b59a57972d20aaee7a52c7ca7
  </body>
</html>
